.add_product {
    justify-content: center;
    display: flex;
    overflow: hidden !important;
}


.add_prod_form_wrap {
    min-height: 100%;
    display: grid;
    justify-content: center;
align-items: center;
    grid-template-columns: 1fr;
    width: 75%;
    justify-self: center;
    margin: 0px 4.5%;
    position: absolute;
    left: 0;

}

.add_prod_form_wrap_inner{
    display: grid;
}





.add_prod_form_wrap h3 {
    margin-top: 50px;
    font-size: 32px;
    color: rgb(15, 62, 189);
    font-weight: 700;
}

.add_prod_form_wrap span {
    color: #eb870d;
}

.add_prod_form_wrap p {
    color: rgb(15, 62, 189);
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Inter', sans-serif;
}


.add_prod_form_wrap .form_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

.add_prod_form_wrap .form_wrapper {
    margin-top: 10px;
    margin-bottom: 100px;
}


.form_item {
    display: grid;
    padding: 10px 0px;
    width: auto;

}

.title,
.price,
.category_select,
.featured_image,
.product_image {
    width: 95%;
}

.description {
    width: 97.5%;
}

.form_wrapper form {
    display: grid;
}


.form_item input[type='text'],
[type='file'],
[type='number'] {
    width: 100%;
    padding: 15px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    outline: none;
    background-color: #FFFFFF;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    height: 55px;
}


.form_item select {
    width: 100%;
    padding: 15px;

    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    outline: none;
    background-color: #FFFFFF;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    height: 55px;
}


.form_item input:focus:invalid {
    border: 1px solid red;
}

.form_item select:focus:invalid {
    border: 1px solid red;
}


.error {
    display: none;
    color: red;
    font-size: 13px !important;
    margin: 0 !important;
    margin-top: 3px;
}

.form_item input:focus:invalid~.error {
    color: red !important;
    display: block;
}

.form_item select:focus:invalid~.error {
    color: red !important;
    display: block;
}

.form_item input:valid {
    border: 1px solid #1570EF;
}


.form_item textarea:valid {
    border: 1px solid #1570EF;
}


.rules summary {
    color: #1570EF;
    font-weight: 700;
    font-size: 15px;
}


.add_prod_form_intro h3{
    font-size: 30px;
    font-weight: 800;
}
.rules ul{
    list-style-type: circle;
}
.rules ul li {
    color: #1570EF;
    margin: 5px 0px;
    font-weight: 700;
    font-size: 13px;
 
}





.form_item input:focus {
    border: 1px solid #1570EF;
}

.form_item textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    outline: none;
    background-color: #FFFFFF;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.form_item label {
    margin-bottom: 10px;
    color: rgb(15, 62, 189);
    font-weight: 500;
}

.form_item label span {
    color: red;
}



.data {
    display: flex;
    place-items: center;
}

.data p {
    margin: 0;
    color: #475467;
    font-size: 17px;
    font-weight: lighter;
}

.data input.checkbox {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}


.add_prod_form_wrap .button button {
    padding: 15px 50px;
    color: white;
    outline: none;
    border: none;
    background-image: linear-gradient(45deg, #eb870d 50%, rgb(15, 62, 189) 50%);
    box-shadow: 3px 3px 3px rgb(10, 8, 8);
    width: 97%;

    border: none;

}













@media screen and (max-width:1024px) {

    /* .add_product_inner .vendor_sidebar {
        width: 20%;
    } */

   .add_prod_form_wrap {
        width: 90%;
    }

}

@media screen and (max-width:768px) {


 .add_prod_form_intro{
    width: 95%;
    justify-self: center;
 }

 .add_prod_form_intro h3 {
        font-size: 20px;
        font-weight: 600;
        
    }
    .rules ul li {
        font-size: 12px;
    }


    .add_prod_form_wrap .form_grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .rules {
        width: 90%;
        justify-self: center;
    }



    .title,
    .price,
    .category_select,
    .featured_image,
    .product_image {
        width: 95%;
        justify-self: center;
      
    }

    .description {
        margin: 0px 2%;
        width: 96%;

    }
 

    .add_prod_form_wrap .button button {
        width: 95%;
        justify-self: center;
    }





    .form_item input,
    .form_item textarea {
        width: auto;
    }



}