.add_product {
    display: grid;
}

.add_prod_form_wrap {
    width: 80%;
    justify-self: center;
    display: grid;
}

.add_product_inner {
    display: flex;
    justify-content: center;
}


.add_product_inner .vendor_sidebar {
    display: grid;
    width: 17%;
    left: 0;
    position: fixed;
    margin-top: 10px;
    border-right: 1px solid rgba(160, 157, 157, 0.712);
    overflow: auto;
    height: fit-content;
    overflow: auto;
    display: grid;
    padding: 50px 0px;
    justify-content: center;
    height: 95% !important;
}

.sm_navigation {
    display: none;
}

.user {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    text-align: center;
}

.user h3 {
    font-size: 16px;
    color: rgb(15, 62, 189);
    margin-top: 5px !important;
    margin: 0;
}

.user h3 span {
    color: #eb870d;
}

.user_image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid grey;
    display: grid;
    justify-content: center;
    place-items: center;
    justify-self: center;
}

.add_product_inner .vendor_sidebar .user img {
    height: 50px;

}

.add_product_inner .vendor_sidebar_sm .user img {
    height: 50px;

}

.add_product_inner .links h3 {
    font-size: 18px;
    color: rgb(15, 62, 189);
    margin: 15px 0px;
    width: 100%;
}

.add_product_inner .links h3 .link-out {
    color: #eb870d;
    font-weight: 1200;
}






.add_prod_form_wrap {
    position: absolute;
    right: 0;
    width: 75%;
    margin-top: 50px;
    padding: 20px;

}

.add_prod_form_wrap h3 {
    font-size: 32px;
    color: rgb(15, 62, 189);
    font-weight: 700;
}

.add_prod_form_wrap span {
    color: #eb870d;
}

.add_prod_form_wrap p {
    color: rgb(15, 62, 189);
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Inter', sans-serif;
}


.add_prod_form_wrap .form_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

.form_wrapper {
    margin-top: 10px;
}


.form_item {
    display: grid;
    padding: 10px 0px;
    width: auto;

}

.title,
.price,
.category,
.featured_image,
.product_image {
    width: 95%;
}

.description {
    width: 97.5%;
}

.form_wrapper form {
    display: grid;
}


.form_item input[type='text'],
[type='file'],
[type='number'] {
    width: 100%;
    padding: 15px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    outline: none;
    background-color: #FFFFFF;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    height: 55px;
}


.form_item select {
    width: 100%;
    padding: 15px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    outline: none;
    background-color: #FFFFFF;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    height: 55px;

}


.form_item input:focus:invalid {
    border: 1px solid red;
}

.form_item select:focus:invalid {
    border: 1px solid red;
}


.error {
    display: none;
    color: red;
    font-size: 13px !important;
    margin: 0 !important;
    margin-top: 3px;
}

.form_item input:focus:invalid~.error {
    color: red !important;
    display: block;
}

.form_item select:focus:invalid~.error {
    color: red !important;
    display: block;
}

.form_item input:valid {
    border: 1px solid #1570EF;
}


.form_item textarea:valid {
    border: 1px solid #1570EF;
}


.rules summary {
    color: #1570EF;
}

.rules ul li {
    color: #1570EF;
    margin: 10px 0px;
}





.form_item input:focus {
    border: 1px solid #1570EF;
}

.form_item textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    outline: none;
    background-color: #FFFFFF;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.form_item label {
    margin-bottom: 10px;
    color: rgb(15, 62, 189);
    font-weight: 500;
}

.form_item label span {
    color: red;
}



.data {
    display: flex;
    place-items: center;
}

.data p {
    margin: 0;
    color: #475467;
    font-size: 17px;
    font-weight: lighter;
}

.data input.checkbox {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}


.add_prod_form_wrap .button button {
    padding: 15px 50px;
    color: white;
    outline: none;
    border: none;
    background-image: linear-gradient(45deg, #eb870d 50%, rgb(15, 62, 189) 50%);
    box-shadow: 3px 3px 3px rgb(10, 8, 8);
    width: 97%;

    border: none;

}













@media screen and (max-width:1024px) {

    .add_product_inner .vendor_sidebar {
        width: 20%;
    }

    .add_product_inner .add_prod_form_wrap {
        width: 80%;
    }

}

@media screen and (max-width:768px) {
    .sm_navigation {
        position: absolute;
        display: grid;
        margin: 20px;
        background-color: green;
        right: 0;
    }

    .sm_navigation .open_v_sidebar {
        justify-self: right;
        position: fixed;
        z-index: 990;
        font-size: 40px;
        color: #1570EF;
        border: 2px solid #1570EF;
        outline: none;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        background-color: white;
    }

    .add_product_inner .vendor_sidebar {
        display: none;
    }

    .add_product_inner .vendor_sidebar_sm {
        display: flex;
        flex-direction: row;
        width: 80%;
        z-index: 990;
        background-color: white;
        left: 0;
        position: fixed;
        margin-top: 10px;
        border-right: 1px solid rgba(160, 157, 157, 0.712);
        overflow: auto;  
        align-items: flex-start;
        display: grid;
        place-content: start;
        align-items: flex-start;
        padding: 50px 0px;
        justify-content: start;
        padding:  20px;
        height: 95% !important;
    }

    .add_product_inner .vendor_sidebar_sm .links{
        margin-top: 20px;
    }

    .add_product_inner .add_prod_form_wrap {
        width: 100%;

    }

    .add_product_inner .links h3 {
        font-size: 15px;
        color: rgb(15, 62, 189);
        margin: 15px 0px;
        width: 100%;
    }

    .add_prod_form_wrap h3 {
        font-size: 25px;
        font-weight: 600;
        width: 95%;
        justify-self: center;
    }

    .add_prod_form_wrap {
        width: 95%;
        justify-self: center;
    }

    .add_prod_form_wrap .form_grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .rules {
        width: 95%;
        justify-self: center;
    }

    .title,
    .price,
    .category,
    .featured_image,
    .product_image {
        width: 95%;
    }

    .description {
        width: 97.5%;
    }

    .title,
    .price,
    .category,
    .featured_image,
    .product_image {
        width: 95%;
        justify-self: center;
    }

    .description {
        width: 95%;
        justify-self: center;
    }

    .add_prod_form_wrap .button button {
        width: 95%;
        justify-self: center;
    }





    .form_item input,
    .form_item textarea {
        width: auto;
    }



}