/* .api_loading_wrapper{
    display: grid;
    place-items: center;
    height: 100vh;
    align-items: center;
    color: white;
    animation: api-loader-background 1.8s linear infinite;
    background: linear-gradient(to right,rgba(8, 34, 104, 0.411) 40%, rgba(14, 119, 204, 0.445));
}

@keyframes api-loader-background {

 
    50% {
        background: linear-gradient(to right,rgba(8, 34, 104, 0.411) 40%, rgba(14, 119, 204, 0.445));
      transform:scaleX(1.1);
      color: #c57109dc;
    }
}




.api_loading_inner{
    display: grid;
    justify-content: center;
    
}
.api_loader{
justify-self: center;
 padding: 20px 25px;
    border-top: 5px solid rgb(14, 118, 204);
    border-bottom: 5px solid rgb(14, 118, 204);
    height: fit-content;
    width: 20PX;
    animation: api-loader 1.8s linear infinite;
    display: grid;
justify-content: center;
border-radius: 30%;
}


@keyframes api-loader {

 
    50% {
      transform: rotate(540deg);
    }

}

.api_loader_inner{
    border-radius: 50%;
    background-color: #eb870d;
    padding: 8px; 
    animation: api_loader_inner 1.8s linear infinite;
}

@keyframes api_loader_inner {

 
    50% {
 transform:scaleX(2);
    }
}




@media screen and (max-width:768px){
    .api_loader_text h3{
font-size: 18px;
    }

    .api_loader{
        justify-self: center;
         padding: 10px 15px;
            border-top: 3px solid rgb(14, 118, 204);
            border-bottom: 3px solid rgb(14, 118, 204);
            height: fit-content;
            width: 20PX;
            animation: api-loader 1.8s linear infinite;
            display: grid;
        justify-content: center;
        border-radius: 30%;
        }
        
        .api_loader_inner{
            border-radius: 50%;
            background-color: #eb870d;
            padding: 5px; 
        }
}



.spinnerWrapper{
    padding: 100px 0px;
    background-color: #0640a313;
    display: grid;
    place-items: center;
    height: 100vh;
    align-items: center;
    color: white;
 
    background: linear-gradient(to right,rgba(8, 34, 104, 0.411) 40%, rgba(14, 119, 204, 0.445));
}

@keyframes api-loader-background {

 
    50% {
        background: linear-gradient(to right,rgba(8, 34, 104, 0.411) 40%, rgba(14, 119, 204, 0.445));
      transform:scaleX(1.1);
      color: #063fa3;
      /* color: #c57109dc; */
    
 
.spinnerWrapper{
  padding: 100px 0px;
  background-color: #0640a313;
  display: grid;
  place-items: center;
  height: 100vh;
  align-items: center;
  color: white;

  background: linear-gradient(to right,rgba(8, 34, 104, 0.411) 40%, rgba(14, 119, 204, 0.445));
}

@keyframes api-loader-background {


  50% {
      background: linear-gradient(to right,rgba(8, 34, 104, 0.411) 40%, rgba(14, 119, 204, 0.445));
    transform:scaleX(1.1);
    color: #063fa3;
    /* color: #c57109dc; */
  }
}


.spinner {
  width: 100%;
  height: 40px;
  position: relative;
justify-content: center;
  display: grid;
}
.spinner p{
  margin-top: 50px;
  -webkit-animation: sk-bounce 1.4s infinite ease-in-out;
  animation: sk-bounce 1.4s infinite ease-in-out;
}
.bounce1, .bounce2, .bounce3 {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  background-color:#063fa3;
  opacity: 0.6;
  position: absolute;
  top: 0;
 justify-self: center;
  
  -webkit-animation: sk-bounce 1.4s infinite ease-in-out;
  animation: sk-bounce 1.4s infinite ease-in-out;
}

.bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  
}

.bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0) }
  50% { -webkit-transform: scale(1.0);}
  
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}