.category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.category_box{
  margin:10px 10px;
  width: fit-content;
}

.category_box p{
  width: fit-content;
  font-size: 13px;
}
  .link_to_cate{
    color: white;
    text-align: center;
    border: 1px dotted rgba(255, 255, 255, 0.568);
    padding: 5px;
  }








  @media screen and (max-width:768px){
    .category_box p{
      font-size: 12px;
    }

    .link_to_cate{
      padding: 10px;
    }
  }