.product_detail {
    justify-content: center;
    display: grid;
    overflow: hidden !important;

}

.prod_detail_inner {
    height: 100%;
    justify-content: center;
    place-items: center;
    align-items: center;
    width: 85%;
    justify-self: center;
    margin: 0px 3.5%;
    position: absolute;
    left: 0;
    padding: 50px 0px;
    
}
.product_detail_wrap{
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
  
}

.prod_detail_inner .prod_detail_box {
    width: 95%;
    justify-self: center;

}

/* swiper */
.swiper-button-prev,
.swiper-button-next {
    background-color: #eb870d;
    padding: 20px;
    border-radius: 50%;
    color: white;
    justify-self: center;
}

.swiper-pagination-bullet {
    padding: 8px;
}

/* swiper */
.prod_detail_box#img {
    background: linear-gradient(to right, rgba(8, 34, 104, 0.411) 40%, rgba(14, 119, 204, 0.445));

    place-items: center;
    display: flex;
    align-content: center;
    overflow: hidden !important;
    align-items: center;
    height: 450px;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0px 1px 5px 2px rgba(10, 8, 8, 0.548);
    -moz-box-shadow: 0px 1px 5px 2px rgba(10, 8, 8, 0.548);
    box-shadow: 0px 1px 5px 2px rgba(10, 8, 8, 0.548);
    border-radius: 20px;
    margin: 10px;
}

.prod_detail_box#img img {
    background: linear-gradient(to right, rgba(8, 34, 104, 0.411) 40%, rgba(14, 119, 204, 0.445));
    /* animation: zoom-in-zoom-out 2s ease; */
    width: fit-content;
    height: 300px;
    justify-self: center !important;
    box-shadow: 3px 3px 3px rgba(10, 8, 8, 0.548);
    /* -webkit-box-shadow: 0px 1px 5px 2px rgba(10, 8, 8, 0.548);
    -moz-box-shadow: 0px 1px 5px 2px rgba(10, 8, 8, 0.548);
    box-shadow: 0px 1px 5px 2px rgba(10, 8, 8, 0.548); */
    border-radius: 20px;
    /* border-top: 0.1px solid #eb870d; 
    border-right: 0.1px solid rgb(15, 62, 189);
    border-left: 0.1px solid #eb870d;
    border-bottom: 0.1px solid rgb(15, 62, 189); */
    padding: 20px;
    margin: 10px;
}



.prod_detail_box#txt .detail_back_to_store {
    font-size: 16px;
    border: 1px dotted rgb(14, 118, 204);
    color:white;
    padding: 6px 22px;
margin-bottom: 50px !important;
top: 0;
left: 0;
position: fixed;
background-image: linear-gradient(to right, rgb(8, 33, 104) 40%, rgb(14, 118, 204));
z-index: 990;
}

.detail_box_text{
    border-radius: 10px;
    padding: 10px;
    border: #eb870d6b 1px solid;
    margin: 10px 0px;
}

.prod_detail_box#txt #name{
    font-size: 22px;
    margin: 0px;
    color: rgb(14, 118, 204);
    font-weight: 800;
}
.prod_detail_box#txt .sm_screen{
    display: none;
}


@keyframes scroll-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

.prod_detail_box#txt #name span,
.prod_detail_box#txt #price span,
.prod_detail_box#txt #details span,
.prod_detail_box#txt #vendor span,
.prod_detail_box#txt #tag .tagLinks {
    color: #eb870d;
}

.prod_detail_box#txt #price, .prod_detail_box#txt #details, .prod_detail_box#txt #vendor {
    color: rgb(14, 118, 204);
    font-size: 16px;
    margin: 0;
    margin: 10px 0px;
    font-weight: 700;
}

.prod_detail_box#txt #vendor {
    display: flex;
}
.prod_detail_box#txt #vendor .vendor_profile{
    margin-left: 5px;
}


.prod_detail_box#txt #tag {
    color: rgb(14, 118, 204);
    font-size: 16px;
    margin: 0;
    margin: 10px 0px;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.prod_detail_box#txt #tag .tagLinks {
    border: 1px dotted rgb(14, 118, 204);
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
    padding-top: 3px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0;
}

p span#taglinks {
    display: flex;
    flex-wrap: wrap;
}





.prod_detail_box#txt button {
    padding: 9px 28px;
    background-image: linear-gradient(45deg, rgb(15, 62, 189) 50%, #eb870d 50%);
    color: white;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    /* animation: zoom-in-zoom-out 2s ease; */
    outline: none;
}


.prod_detail_box#txt button:hover {
    box-shadow: inset 200px 0 0 0 rgb(14, 118, 204);
    ;
    transition: ease-in 0.5s;
    background-image: none;
    color: white;
}




.prod_detail_box#txt .featured_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.prod_detail_box#txt .featured_img img {
    height: 100px;
    margin: 10px 0px;
    width: 100px;
    border: 1px solid #eb870d83;
    cursor: pointer;
    /* animation: zoom-in-zoom-out 2s ease; */
}

.related_products{
    margin-top: 50px;
}
.related_product_heading{
    color:rgb(14, 118, 204) ;
    text-align: center;
    font-weight: 700;
}

.related_product_heading span{
    color:#eb870d ;
}



@media screen and (max-width:1024px) {
    .prod_detail_box#img img {
      
    }

    .prod_detail_box#txt .featured_img {
        width: 100%;
    }
}


@media screen and (max-width:768px) {

    .product_detail {
        padding-top: 50px;
    }

    .prod_detail_inner {
        width: 95%;
        height: fit-content;
        position: relative;
        margin-bottom: 80px;
        padding: 0px;
    }
    .product_detail_wrap{
        grid-template-columns: 1fr;     
    }

    .prod_detail_box#txt .detail_back_to_store {
        padding: 5px 20px;
        right: 0;
       width: fit-content;
    
    }

  
    

    .detail_box_text#product-name{
        top: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        margin: 0 !important;
        border: none;
        border-radius: 0;
        z-index: 200;
        border-radius: 0px 0px 10px 10px;
        padding: 16px 0px;
        background-color: white; 
        border-bottom: #eb870d6b 1px solid;     
    }
    

    .prod_detail_box#txt #name{
        top: 0;
        position: fixed;
        width: 100%;       
        margin-top: 5px ;
        font-size: 18px;
        font-weight: 800;    
        animation: scroll-right 10s linear infinite;
    }
  


    .prod_detail_box#txt .sm_screen{
        display: block;
    }
    .prod_detail_box#txt .lg_screen{
        display: none;
    }

    .prod_detail_box#img img {
        height: 200px;
        width: auto;
    }

    .prod_detail_box#img {
        height: fit-content;
        padding: 20px 0px;
    }

    .prod_detail_box {
        margin: 20px 0px;
    }


    .prod_detail_box#txt .detail_back_to_store {
        font-size: 14px;
    }

 

    .prod_detail_box#txt #price, .prod_detail_box#txt #details, .prod_detail_box#txt #tag, .prod_detail_box#txt #vendor{
        font-size: 15px;
        font-weight: 600;
    }



    .prod_detail_box#txt .featured_img {
        display: none;
    }

    .related_product_heading{
       font-size: 22px;
    }
}