::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-thumb {
background-color: gainsboro;
  height: 0px;
 width: 0px !important;
border-radius: 5px;
}
.store{
    padding-top: 70px;
display: flex;
justify-content: center;
overflow: auto;
} 
.sidebar_wrapper{

 display: grid;
 justify-content: center;
} 
 
.sidebar{
  width: 17%;
  left: 0;
  position: fixed;
  margin-top: 10px;
  border-right: 1px solid rgba(160, 157, 157, 0.712);
 overflow: auto;
 height:fit-content;
    overflow: auto;
    display: grid;
   
 padding: 50px 0px;
   justify-content: center;
    height: 95% !important;
}
.sidebar h3{
  /* margin-bottom: 30px; */
}

.cate{
  margin-bottom: 30px; 
}

.price{
  margin-bottom: 30px;
}

.colors_wrap{
  display: flex;
  justify-content: space-between
}
.color{
  background-color: aqua;
  padding: 9px;
  cursor: pointer;
  border-radius: 50%;
}

.colors_wrap #f{
  background-color: rgb(212, 17, 17);
}
.colors_wrap #s{
  background-color: black;
}
.colors_wrap #t{
  background-color: gold;
}

.colors_wrap #fh{
  background-color: rgb(12, 106, 143);
}




.st_prod{
  position: absolute;
right: 0;
  width: 83%;
  justify-content: center;
  padding: 20px;
}
.prod_heading{
  padding: 20px 30px;
  padding-top: 50px;
}
.prod_heading#latest{
  padding: 10px 30px;
}
.st_prod_inner{
  display: grid;
}
.st_prod_box{
 
  display:flex;
 flex-wrap: wrap;
 justify-content: space-around;
 
}



.pagination{
  display: flex;
  justify-content: center;
}
.paginate p{
  padding: 5px 10px;
  border: 1px solid rgb(8, 33, 104);
  margin: 20px;
  cursor: pointer;
}
 /* lst_prod_inner */
  
  /* .lst_prod_inner{
    width: 80%;
    justify-self: center;
    right: 0 !important;
    position: absolute;
    display: flex;
    flex-wrap: wrap !important;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 60px;
  }
  
  .lst_prod_box{
min-width: 23%;
    display: grid;
    place-items: center;
    background-image: linear-gradient(rgb(221, 58, 8),rgb(78, 23, 6));
    border-radius: 5px;
    color: white;
    padding: 20px;
    margin: 20px 0px;
  }
  .lst_prod_box .buttons button{
    margin: auto 10px;
    padding: 5px 10px;
    color: rgb(14, 166, 212);
    font-size: 18px;
  }
  .lst_prod_box .buttons #wishlist{
    color: red;
  }
   */
  
  /* lst_prod_inner */















@media screen and (max-width:912px){
  .sidebar{
    width: 20%;

  }
  .st_prod{
    width: 80%;
  }
}


@media screen and (max-width:767px){
  .sidebar{
    width: 100%;
    display: none;
    background-color: white;
    z-index: 990;

  }
  .st_prod{
    width: 100%;
  }
}