.lst_prod{
    display: grid;
    place-items: center;
   
    margin-top: 70px;
 }
 /* lst_prod_inner */
  
 .lst_prod_inner{
  background-color: aqua;
    margin-top: 200px;
    width: 100%;
    justify-self: center;
    /* right: 0 !important;
    position: absolute; */
    display: flex;
    flex-wrap: wrap !important;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 60px;
    /* overflow: hidden; */
  }

  
  .lst_prod_box{
min-width: 30%;
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right,rgb(8, 33, 104) 40%, rgb(14, 118, 204) );
    border-radius: 5px;
    color: white;
    padding: 20px;
    margin: 20px 0px;
  }
  .lst_prod_box p{
color: #eb870d;
  }
  .lst_prod_box .buttons button{
    margin: auto 10px;
    padding: 5px 10px;
    color: rgb(14, 166, 212);
    font-size: 18px;
  }
  .lst_prod_box .buttons #wishlist{
    color: red;
  }
  
  
  /* lst_prod_inner */