.store{
    padding-top: 70px;
display: flex;
}  
 
.sidebar{
    margin-top: 10px;
    position: fixed;
    width: 17%;
    left: 0;
    height: 100%;
    z-index: 990;
    display: grid;
   justify-content: center;
    border-right: 1px solid rgba(160, 157, 157, 0.712);
    overflow: scroll;

}
.sidebar h3{
  /* margin-bottom: 30px; */
}

.cate{
  margin-bottom: 30px; 
}

.price{
  margin-bottom: 30px;
}

.colors_wrap{
  display: flex;
  justify-content: space-between
}
.color{
  background-color: aqua;
  padding: 9px;
  cursor: pointer;
  border-radius: 50%;
}

.colors_wrap #f{
  background-color: rgb(212, 17, 17);
}
.colors_wrap #s{
  background-color: black;
}
.colors_wrap #t{
  background-color: gold;
}

.colors_wrap #fh{
  background-color: rgb(12, 106, 143);
}



.st_prod{
  position: absolute;
  right: 0;
  width: 83%;
  padding: 20px;
}
.st_prod_inner{

  display: grid;
}
.st_prod_box{
  display: flex;
  justify-content: space-evenly;
}
.pagination{
  display: flex;
  justify-content: center;
}
.paginate p{
  padding: 5px 10px;
  border: 1px solid rgb(8, 33, 104);
  margin: 20px;
  cursor: pointer;
}
 /* lst_prod_inner */
  
  /* .lst_prod_inner{
    width: 80%;
    justify-self: center;
    right: 0 !important;
    position: absolute;
    display: flex;
    flex-wrap: wrap !important;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 60px;
  }
  
  .lst_prod_box{
min-width: 23%;
    display: grid;
    place-items: center;
    background-image: linear-gradient(rgb(221, 58, 8),rgb(78, 23, 6));
    border-radius: 5px;
    color: white;
    padding: 20px;
    margin: 20px 0px;
  }
  .lst_prod_box .buttons button{
    margin: auto 10px;
    padding: 5px 10px;
    color: rgb(14, 166, 212);
    font-size: 18px;
  }
  .lst_prod_box .buttons #wishlist{
    color: red;
  }
   */
  
  /* lst_prod_inner */