::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  height: 0px;
  width: 0px !important;
  border-radius: 5px;
}

.store {

  display: flex;
  justify-content: center;
  overflow: auto;
}

.sidebar_inner {
  display: grid;
  place-items: center;
}

.sidebar_inner .cate h5 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.sidebar {
  width: 15%;
  left: 0;
  position: fixed;
  border-right: 1px solid rgba(160, 157, 157, 0.712);
  overflow: auto;
  height: fit-content;
  overflow-x: hidden;
  display: grid;

  padding: 50px 0px;
  justify-content: center;
  height: 100% !important;
  background-image: linear-gradient(to right, rgb(8, 33, 104) 40%, rgb(14, 118, 204))
}

.sidebar h3 {
  /* margin-bottom: 30px; */
}

.cate {
  margin-bottom: 30px;
}

.price {
  margin-bottom: 30px;
}

.colors_wrap {
  display: flex;
  justify-content: space-between
}

.color {
  background-color: aqua;
  padding: 9px;
  cursor: pointer;
  border-radius: 50%;
}

.colors_wrap #f {
  background-color: rgb(212, 17, 17);
}

.colors_wrap #s {
  background-color: black;
}

.colors_wrap #t {
  background-color: gold;
}

.colors_wrap #fh {
  background-color: rgb(12, 106, 143);
}




.st_prod {
  position: absolute;
  justify-self: center;
  width: 77%;
  justify-content: center;
  padding: 20px;
  right: 0;
  margin-right: 8%;
}

.prod_heading {
  text-align: center;
  color: rgb(14, 118, 204);
  justify-content: center;
  display: flex;
  align-items: center;
flex-wrap: wrap;
}
.prod_heading h3{
 font-size: 22px;
 margin: 0 5px;
}

.prod_heading span {
  color: #eb870d;
}

.prod_heading#latest {
  padding: 10px 30px;
}

.st_prod_inner {
  display: grid;
}

.st_prod_box {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}



.pagination {
  display: flex;
  justify-content: center;
}

.paginate p {
  padding: 5px 10px;
  border: 1px solid rgb(8, 33, 104);
  margin: 20px;
  cursor: pointer;
}



/* sm_cntrl */
.category_sm_cntrl {
  display: none;
}






/* lst_prod_inner */

/* .lst_prod_inner{
    width: 80%;
    justify-self: center;
    right: 0 !important;
    position: absolute;
    display: flex;
    flex-wrap: wrap !important;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 60px;
  }
  
  .lst_prod_box{
min-width: 23%;
    display: grid;
    place-items: center;
    background-image: linear-gradient(rgb(221, 58, 8),rgb(78, 23, 6));
    border-radius: 5px;
    color: white;
    padding: 20px;
    margin: 20px 0px;
  }
  .lst_prod_box .buttons button{
    margin: auto 10px;
    padding: 5px 10px;
    color: rgb(14, 166, 212);
    font-size: 18px;
  }
  .lst_prod_box .buttons #wishlist{
    color: red;
  }
   */

/* lst_prod_inner */


/* sm_cntrl */














@media screen and (max-width:912px) {}


@media screen and (max-width:768px) {


  .sm_screen_sidebar{
    width: 85%;
    left: 0;
    position: fixed;
    border-right: 1px solid rgba(160, 157, 157, 0.712);
    overflow: auto;
    height: fit-content;
    overflow-x: hidden;
    display: grid;
  animation: 1s ease zoom-out;
    padding: 50px 0px;
    justify-content: center;
    height: 100% !important;
    background-image: linear-gradient(to right, rgb(8, 33, 104) 40%, rgb(14, 118, 204));
    z-index: 990;
  }


  




  .sidebar {
    width: 100%;
    display: none;
    background-color: white;
    z-index: 990;

  }

  .st_prod {
    padding-bottom: 80px;
    width: 100%;
    margin: 0;
  }

  .prod_heading h3{
    font-size: 19px;
    margin: 0 5px;
   }
   


  .import_user_links {
    width: 100%;
  }


  /* sm_cntrl */
  .category_sm_cntrl {
    display: block;
    position: relative;
  }

  .category_sm_cntrl .category_cntrl {
    position: fixed;
    color: white;
    font-size: 48px;
    cursor: pointer;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 990;
    background-image: linear-gradient(to right, rgb(8, 33, 104) 40%, rgb(14, 118, 204));
  }


}